
* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.containerContacto{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 220px;
  
   
}

.info{
    background-color: black;
    color:#E5E5E5;
    justify-content: center;
}
#btncontacto{
    width: 100%;
    margin: 2rem 0 2rem 0;
}
.info{
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    
    max-height: 400px;
    
       
}
.encabezado{
    text-align: center;
    font-size: 20px;
    


}

.icono{
   
    width: 20%;
}
.contenido{
    width: 70%;
}
.contacto{
   font-size: 20px;
   text-align: center;
}
.contacto .bi{
    
   
    margin-bottom: 5px;
    cursor: pointer;
}



.redes{
   margin-top: 2rem;
    justify-content: space-around;
}

.contacto .bi:hover{
    color: rgb(51, 215, 221);
   
   
}
.redes {
   text-align: center;
   
    font-size: 40px;
    cursor: pointer;

}
.redes .bi{
    margin-right: 20px;
}
.redes .bi:hover{
    font-size: 50px;
    color:rgb(42, 128, 199);
    
}

.titulo{
    font-weight: bold;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;

}

