


.row{
padding: top 100px;
    FONT-WEIGHT: 500;
}
div.card {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.card:hover {
    border: 1px solid #777;
  }

  
