*{
    margin:0;
    padding:0
}
body{
    background: linear-gradient(rgb(231, 190, 190),rgb(91, 91, 131)30%,rgb(241, 238, 238));
}



.banner-image{
    width: 100%;
    
    background-image: url('../imagenes/banner.webp');
    background-size: cover;
    
    background-size: 200%;
    animation: movimiento 10s infinite linear alternate;

}


@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;

    }
}
.logo {
    width: 50%;
}
.logo img{
    width: 50%;
}
.nav-item a{
    border-radius: 20%;
    
    font-weight: bold;


    
}
.viajero{
    width: 80%;
    display: flex;
    align-content: start;
    justify-content: flex-start;
}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80%;
    top: 40%;
    transform: translate(-80%,-50%);
    background: rgb(196, 230, 7);
    padding:10px;
    height: 80px;
    border-radius: 40px;
}
.buscar_texto{
    border:none;
    background: none;
    outline: none;
    color:white;
    font-size: 20px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;

}
.boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}






.nav-item a:hover{
    background-color: rgb(139, 139, 243);  
    

}

.tituloAnimado{
    font-weight: bold;
    color: rgb(221, 243, 19);
    font-style: normal;


}

#custom-btn{
    margin-top: 120px; 
    text-shadow: 0px 0px 6px black;
   
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 30px;
    padding-bottom: 3rem;
    font-weight: 500;
    width: 100%;
    justify-content: center;
    align-content: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
    box-sizing: border-box;
  }




  .content-imagenes {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: linear-gradient(rgb(54, 53, 53),rgb(78, 152, 202)30%,rgb(245, 146, 146));
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background-color: #fff;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
  }

.content-viajeros{
    justify-content: center;
    text-align: center;
    background-image: url(../imagenes/fondo.jpg);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Viajeros{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    
}

.containerOpinion{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.containerOpinion .card{
    position: relative;
    max-width: 300px;
    height: 420px;
   background: #fff;
    margin: 30px 10px;
    padding:20px 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;


}

.containerOpinion .card:hover{
    height: 420px;
}
.containerOpinion .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top:-60px;
    left:20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);


}
.containerOpinion .card .imgBx img{
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

.containerOpinion .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
.containerOpinion .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;

}

.content-ecommerce{
    text-align: center;
    height: max-content;
    
    justify-content: center;
    

}
.paquetes{
    width: 90%;
    padding: 10px 40px;
    margin-top: 100px;
}
.paquetes .swiper-container{
    width: 100%;
    height: 100%;
}
.paquetes .swiper-slide{
    position: relative;
    
    text-align: start;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(196,196,196,0.25);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;


}

.paquetes .swiper-slide img{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.paquetes .card-description{
    padding: 1rem;
}
.paquetes .card-description.card-title, .paquetes .card-description .card-text{
    margin-bottom: .5rem;

}
.card-link{
    text-align: center;

}
.card-link a{
    text-decoration: none;
    color:#1d6ce2;
}


/* footer*/
footer{
    width: 100%;
    padding:50px 0px;
    background-image: url(../imagenes/footer/background-footer.svg);
    background-size: cover;
    

}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1700px;
    margin:auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .logo__footer img{
    width: 180px;

}
.box__footer .terms{
    max-width: 550px;
    margin-top: 20px;
    font-weight: 500;
    color:#7a7a7a;
    font-size: 18px;
}
.box__footer h2{
    margin-top: 110px;
    color:#343434;
    font-weight: 700;
}
.box__footer a{
    margin-top: 10px;
    color:#7a7a7a;
    font-weight: 600;
    text-decoration: none;
}
.box__footer a:hover{
    opacity: .8;
}
.box__footer a .bi{
    font-size: 20px;
    margin-right: 1em;
}
.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p{
    margin-top: 20px;
    color:#7a7a7a;
}
.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;

}



@media (min-width:375px){
    .buscar:hover>.buscar_texto{
        width: 190px;
    }
    
    
   

    
}
@media (min-width:768px){
    .buscar:hover>.buscar_texto{
        width: 300px;
    }

    
}
@media (min-width:1024px){
    .buscar:hover>.buscar_texto{
        width: 500px;
    }

    
}



@media (min-width:700px){
    #custom-btn{
        width: 40%;
    }

}



@media (min-width:1200px){
    .logo img{
        width: 40%;
    }
    .nav-item a{
        font-size: 20px;
    }

    
}

